@page
@model Portfolio.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}


<div class="text-center">
    <h1 class="display-4"></h1>
    <p></p>
</div>

<section>
    <div class="about" id="About">
        <div class="about-img">
            <img src="./NewFolder/cropedpic.JPG" class="abt-res">
        </div>
        <div class="about-text">
            <h2>About <span>Me</span></h2>
            <p>
                I'm a Smart working MCA student specialized in Computer application.
                Along with my degree, I am working on data science internship at code alpha.
                During my studies, I have learned many technologies like c, java, Python, SQL.
                What I learnt has helped me develop a project called "Helper Spot" and "Leaf Care".
                It was during this project that I discovered that I am a team player.
                I am currently seeking roles where I can utilize my experience and skill.<br>
                <br>
                <a href="https://drive.google.com/file/d/1hBubhcZXJNAHQI7B63mm6-MbswVWHKt2/view?usp=drive_link" style="--i:11" class="abtbtn-box" target="_blank">Download Resume</a>
            </p>
        </div>
    </div>
</section>


