@page
@model PrivacyModel
@{
    ViewData["Title"] = "Project";
}

<section id="Projects">
    <div id="portfolio" class="services">
        <div class="main-text" id="serv">
            <h2>My <span>Projects</span></h2>
            <div class="serv-container">
                <div class="row">
                    <img src="./NewFolder/FMD.png">
                    <div class="layer">
                        <h5>Helper Spot</h5>
                        <p>Face mask of the people are detected by using OpenCV, Python and find out the person without mask.</p>

                        <a href="#"><i class='bx bxs-face-mask' style="color: aliceblue;"></i></a>

                    </div>
                </div>

                <div class="row">
                    <img src="./NewFolder/DAD2.png">
                    <div class="layer">
                        <h5>Leaf Care: AI Powered Plant health monitor</h5>
                        <p>The disease in the plant can be identified by using the model and the prevention method, solution and Nutrition for that disease will be provided in .</p>

                        <a href="https://github.com/chiranjeevimn/Leaf-Care-plant-leaf-health-analysis"><i class='bx bxs-low-vision' style="color:crimson;">Open</i></a>

                    </div>
                </div>

                <div class="row">
                    <img src="./NewFolder/DA.png">
                    <div class="layer">
                        <h5>Desktop Application</h5>
                        <p>A windows application to manage the work of the staff’s in the company by using Python Tkinter and SQL.</p>

                        <a href="#"><i class='bx bx-desktop' style="color: aliceblue;"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

