@page
@model PrivacyModel
@{
    ViewData["Title"] = "Project";
}

<section id="Projects">
    <div id="portfolio" class="services">
        <div class="main-text" id="serv">
            <h2>My <span>Projects</span></h2>
            <div class="serv-container">
                <div class="row">
                    <img src="./NewFolder/FMD.png">
                    <div class="layer">
                        <h5>Helper Spot</h5>
                        <p>This project help the user in remote area by connecting to other near by user.
                            If he need help, other user near by can provide that to him.
                        </p>

                        <a href="#"><i class='bx bxs-face-mask' style="color:crimson;">Open</i></a>

                    </div>
                </div>

                <div class="row">
                    <img src="./NewFolder/DAD2.png">
                    <div class="layer">
                        <h5>Leaf Care: AI Powered Plant health monitor</h5>
                        <p>The disease in the plant can be identified by using the model and the prevention method, solution and Nutrition for that disease will be provided in .</p>

                        <a href="https://github.com/chiranjeevimn/Leaf-Care-plant-leaf-health-analysis"><i class='bx bxs-low-vision' style="color:crimson;">Open</i></a>

                    </div>
                </div>

                <div class="row">
                    <img src="./NewFolder/birth.png">
                    <div class="layer">
                        <h5>Birthday-card Application</h5>
                        <p>This project is a simple birthday invitation card that has developed using the HTML, CSS.</p>

                        <a href="https://github.com/chiranjeevimn/Birthday-Card.git"><i class='bx bx-desktop' style="color:crimson;">Open</i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

